<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pune Plumber Automation Suite" parallel="false">
	<test name="Pune_Plumber_Tests" preserve-order="true">
		<classes>
			<class name="Plumber.tests.Test_LoginLogout" />
			<class name="Plumber.tests.Test_ChangePassword"/> 
			<class name="Plumber.tests.Test_EditProfile"/> 
		<!--	<class name="Plumber.tests.Test_NoJobsAssigned"/> -->
			<class name="Plumber.tests.Test_WorkHistory"/> 
		</classes>
	</test> <!-- Test -->
 	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
</suite>